[MASTER]
iignore-patterns=^.*test.py$
jobs=4

[MESSAGES CONTROL]
# C0103 - Name doesn't conform to naming style
# C0111 - Missing docstring
disable=C0103,C0111

[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=^.*token.*$
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=500
